{{define "head"}}
  <title>Page not found | Chrome100</title>
{{end}}
{{define "body"}}
  <h1>Page not found</h1>
  <p>The page you were looking for doesn't exist.</p>
  <p><a href="/">Go home</a></p>
{{end}}