{{define "head"}}
  <title>Chrome100</title>
{{end}}
{{define "body"}}
  <h1>Chrome OS Recovery Images</h1>
  <p>Chrome100 is a tool for finding ChromeOS recovery images for your board. This page is a list of every board that we have scraped recovery images for. Click on "See more" after your board name to download its recovery images.</p>
  <p>Use <kbd>CTRL</kbd> + <kbd>F</kbd> to search for your board name or device model. Check out the <a href="/guide">walkthrough</a> if you need additional help.</p>
  <table>
    <thead>
      <tr>
        <th>Board</th>
        <th>Device Names</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{range .}}
        <tr>
          <td><code>{{.Board}}</code></td>
          <td>{{.Brands}}</td>
          <td><a class="board" href="/board/{{.Board}}">See more</a></td>
        </tr>
      {{end}}
    </tbody>
  </table>
{{end}}