@import "github-markdown-css";

/* theme button will display what it will change the theme to */
[data-theme="dark"] .theme .dark {
  display: none;
}

[data-theme="dark"] .theme .light {
  display: block;
}

[data-theme="light"] .theme .light {
  display: none;
}

[data-theme="light"] .theme .dark {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  height: 56px;
  line-height: 55px;
  padding: 0 3vw;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: var(--bgColor-default);
  border-bottom: 1px solid var(--borderColor-default);
}

body.markdown-body {
  margin: 15px;
}

body.nav {
  margin-top: 56px;
}

nav .links {
  display: flex;
  margin-left: auto;
  height: 100%;
  gap: 5px;
}

/* include .markdown-body in selector to override markdown css */
.markdown-body nav a {
  color: inherit;
  text-decoration: none;
}

.markdown-body nav .links a:hover {
  text-decoration: underline;
}

nav img,
nav svg {
  width: 25px;
  height: 25px;
}

nav a,
nav .theme {
  padding: 0 10px;
}

nav .sourcecode,
nav .logo,
nav .theme {
  display: flex;
  align-items: center;
}

nav .theme {
  cursor: pointer;
}

nav .logo:hover {
  text-decoration: none;
}

nav .expand,
nav .hide {
  margin-left: auto;
  display: none;
  align-items: center;
  height: 55px;
  cursor: pointer;
  padding: 0 10px;
}

nav a span {
  margin-left: 5px;
}

nav a span.mobile-text {
  display: none;
}

@media (max-width: 700px) {
  nav a span.mobile-text {
    display: inline;
  }

  nav .links {
    display: none;
  }

  nav .expand {
    display: flex;
  }

  nav.expanded .filter {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #0004;
  }

  nav.expanded .links {
    display: flex;
    flex-direction: column;
    background-color: var(--color-canvas-default);
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 100%;
    top: 0;
    right: 0;
    line-height: 50px;
    padding: 0 3vw;
    box-sizing: border-box;
  }

  nav.expanded .hide {
    display: flex;
  }
}

.board {
  white-space: nowrap;
}
