{{define "base"}}<!DOCTYPE html><html lang="en" data-theme="{{ .Theme }}">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#FAFAFA" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/index.css" />
    <script src="/theme.js" defer></script>
    {{template "head" .}}
  </head>
  <body class="markdown-body">
    {{template "body" .}}
  </body>
</html>{{end}}