{{define "header"}}
<nav>
  <a class="logo" href="/"><img width="25" height="25" src="/icon.png">Chrome100</a>
  <div class="links">
    <a href="/">Recovery Images</a>
    <a href="/info">Explanation</a>
    <a href="/guide">Walkthrough</a>
    <a class="sourcecode" href="https://github.com/e9x/chrome100"><img width="25" height="25" src="/github.svg"></a>
  </div>
</nav>
{{end}}
{{define "base"}}<!DOCTYPE html><html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Chrome100 is a directory of recovery images for Google's operating system Chrome OS." />
    <meta name="og:image" content="/banner.webp" />
    <meta name="theme-color" content="#FAFAFA" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="/index.css" />
    {{template "head" .}}
  </head>
  <body class="markdown-body">
    {{template "body" .}}
  </body>
</html>{{end}}