* {
	outline: none;
}

body {
	font-family: Arial;
}

.version {
	height: 22px;
	width: 22px;
	color: #19f;
}

.version:hover {
	color: #38b;
}

.codes {
	width: 115px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	line-height: 22px;
}