---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout hideHeader>
  <h1 class="header">Page not found</h1>
  <p>The page you were looking for doesn't exist.</p>
  <p><a href="/">Go home</a></p>
</MainLayout>
